*, *:before, *:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-webkit-font-smoothing: subpixel-antialiased !important;}
body {
	margin: 0; 
	padding: 0;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	background-color: #FFF;
	color: #333;
}

.dumb {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	border: none;
}

/* fonts */
body, .bigq, .biga {
	font-family: Georgia, "Droid Serif", Georgia, "Times New Roman", serif;
}

#artmain h1, h2, h3, h4, header, .btitle, #footercontainer, .disclaim, #sidenav, .pq, #faqnav, #articlestab, #FAQtab, .qnum, .eachresult, .resultmain a, .eachresult .num, #searchnav li a, #glossnav a, #secretnav a, #insdrop, .seebutt, .learnmore, .bigq, .biga, .glosspromo, .welcomedisclaim {
	font-family: "Roboto", "Segoe UI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

strong {
	font-weight: bold;
}
ul {
	margin-left: 0px;
}
img {
	height: auto;
	max-width: 100%;
	width: auto;
}
h2, h3, h4 {
	font-weight: bold;
}
h2 {
	margin-bottom: 10px;
	font-size: 1.25em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 1.125em;
}
a {
	color: #1144BB;
/*	color: #2156BA; */
}
b {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
.su {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.boldnew {
    color: #993300;
    font-weight: bold;
}

.mobhide {
	display: block!important;
}


#error {
	padding: 1em;
}
#error p {
	padding: .5em;
	line-height: 1.8em;
}
.denywrap {
	padding:1em 2em;
	width: 80%;
	text-align: left;
	margin: 0px auto;
}
.denywrap p {
	padding-bottom: 1.2em;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! NAV STUFF !!!!!!!!!!!!!!!!!!!!!!!!!! */

header {
	display: block;
	width: 100%;
	padding: 0;
	background-color: white;
	font-size: 88.888889%;
	white-space: nowrap;
	min-width: 360px;
}
.fidhead {
	border-bottom: 2px solid #2156BA;
}

#headercontainer {
	width: auto;
	max-width: 980px;
	margin: 0px auto;
	text-align: left;
	white-space: nowrap;
}
header:after {
	display: block;
	content:'';
	clear: both;
}

#logo {
	float: left;
	margin: 1em 0 0 1em;
	padding-top: .5em;
}
#searchbox {
	float: right;
	width: auto;
	margin: 1.5em 1em 1em 1em;
	white-space: nowrap;
}
#searchbox form{
	border: 1px solid #999;
	display: block;
	margin: 0;
	padding: 0;
}
#searchbox input {
	border: none;
	padding: none;
	margin: none;
	padding-left: .5em;
	vertical-align: middle;
}
#searchString {
	width: 14em;
}
#gobut {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	background: url("/images/searchsm.gif") no-repeat 5px 5px scroll transparent;
	text-indent: 100%;
	overflow: hidden;
	cursor: pointer;
}

#kctop {
	margin-right: 2em;
	padding-top: 1.8em;
	font-size: 14px;
}
#kctop:after {
	display: table;
	content:'';
	clear: both;
}
#kctop li {
	display: inline;
	padding-left: .5em;
}
.tcact {
	padding: .5em!important;
	background-color: #1661AD;
	border: 1px solid #0C3662;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: .5em;
}
.tcact a {
	text-decoration: none;
	color: white;
}


#navlink, #searchlink {
	display: none;
}
#global-nav {
	clear: both;
	background-color: #0C3662;
	padding: 0px auto;
	text-align: center;
	font-size: 1em;
	white-space: nowrap;
}
#global-nav ul {
	display: block;
	width: 1000px;
    margin: 0px auto;
	margin-left: 0px;
    padding: 0;
	list-style: none outside none;
	text-align: center;
	white-space: nowrap;
}
#global-nav > ul {
	display: table;
	margin: 0px auto;
}
#global-nav ul li {
	display: inline;
	float: left;
	border-left: 1px solid white;
	margin: 0px;
	padding: 0px;
	width: auto;
}
#global-nav ul > li {
	display: inline-block; /* overridden if browser can read next line? */
	display: table-cell; 
	float: none;
}
#global-nav ul li a {
	display: inline-block;
	padding: 5px 8px;
	color: white;
	width: auto;
	text-decoration: none;
	float: left;
	width: 100%;
}
#global-nav ul li > a {
	float: none;
}
#global-nav ul li a:hover {
	color: #333;
	background-color: #DCE6ED;
}
.navlast {
	border-right: 1px solid white;
}

.navsel {
	background-color: #1661AD;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! END NAV STUFF !!!!!!!!!!!!!!!!!!!!!!!!!! */

#secretnav {
	display: none;
}

#wrapper {
	width: auto;
	max-width: 1000px;
	margin: 0px auto;
	background-color: white;
	padding: 1em;
}
#sidewrap, #tgsidewrap {
	float: left;
	width: 22.363636363636363636363636363636%; /* 246px / 1100px */
/*	width: 216px; */
	font-size: 0.875em; /* 14px / 16px */
	text-align: left;
}

.sidesec {
	padding: 1em .8em 2em;
	line-height: 140%;
	background-color: #DCE6ED;
	margin-bottom: 1em;
}
.sidesec h3 {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	width: auto;
	padding-bottom: 1em;
}
.sidesec h3 a {
	text-decoration: none;
	color: #333;
}
.sidesec h2 a {
	font-size: 1.2em;
	color: #222;
}
.quizlist li {
	list-style: disc outside none;
	margin-left: .8em;
	padding-bottom: .5em;
}
.quizlist li a {
	text-decoration: none;
}
.sideimgholder {
	width: 90px;
	height: 90px;
	float: right;
	margin: 10px;
}
.sideimgholder img {
	border: 1px solid black;
}
.sidesec p {
	padding-top: 10px;
	padding-bottom: 10px;
}





#mainwrap, #tgmainwrap {
	float: right;
	width: 77.272727272727272727272727272727%; /* 850px / 1100px */
	text-align: left;
	margin: 0px auto;
}

#mainwrapprint, #tgmainwrapprint {
	width: 95%;
	text-align: left;
}

#tgmainwrapprint a[href='#top'], #mainwrapprint a[href='#top'] {
	visibility: hidden;
}

/*
div > #mainwrap {
	width: auto;
	max-width: 80%;
} */

#welcome, #featured, #newandup, #articleboxes, #promobox, .featask {
	padding: 2%;
	margin: 2% 0 1em 2%;
	width: auto;
	background-image: linear-gradient(to bottom, #FFFFFF -10%, #DCE6ED 220%);
}
#welcome {
	margin-top: 0;
}
.welcomedisclaim {
	font-size: 77.7777777778%;
	line-height: 150%;
	padding-bottom: 0px!important;
	color: #666;
	text-align: left;
}
#promobox a{
	text-decoration: none;
	color: #333;
	line-height: 1.7;
}
#promobox img {
	margin-right: 1em;
	margin-top: .2em;
	max-width: 100%;
	width: auto;
}
#promobox span {
	font-weight: bold;
	color: #1144BB;
}
#promobox h2{
	color: #333;
	/*color: #1144BB;*/
	text-decoration: underline;
	line-height: 1.4;
}
#newandup {
	padding-bottom:1.6em;
}
#newandup ul li {
	padding: 5px;
}
#more {
	display: none;
}
#morelink {
    float: right;
    font-weight: bold;
}

#promobox, #welcome, #newandup {
	border: 1px solid #CCC;
} 

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ARTICLE BOXES !!!!!!!!!!!!!!!!!!!!! */
.ao {
	margin-bottom: 0;
}

#articleboxes {
	float: left;
	line-height: 150%;
	padding-top: .35em;
}
.artbox {
	width: 45%;
	margin: 2.5%;
	float: left;
}
.boxtop {
	margin-bottom: 8px;
}
.boxtop a {
	text-decoration: none;
	color: #222;
}
.btitle {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.2em;
}
.bauthor {
	color: #6699AA;
}
.boxlow {
	padding-top: 10px;
	text-align: right;
/*	font-size: .88888889em; */
	font-size: .7901155em;
}


.featask {
	padding: 2%;
	border: 1px solid #AAA;
	font-size: 0.875em;
	clear: left;
}
.featask a, .featfaq a {
	text-decoration: none;
	color: #333;
	display: block;
}
.featask a {
	margin-top: 10px;
}
.featfaq a {
	margin-bottom: 10px;
}


.booka {
	font-weight: bold;
	font-size: 130%;
}
.right {
	width: 100%;
	text-align: right;
}
 
 
#footercontainer {
	clear: both;
	background-color: #0C3662;
	color: white;
	padding: 1em 0;
	width: 100%;
}

#footercontainerprint {
	clear: both;
	background-color: white;
	color: #333;
	padding: 1em 0;
	width: 100%;
}
footer {
	width: 1100px;
	max-width: 980px;
	margin: 0px auto;
}
div > footer {
	width: 95%;
}
#footercontainer a {
	color: white;
	text-decoration: none;
}
#footernav {
	font-size: 0.875em;
}
.disclaim {
	font-size: 0.6875em;
	font-style: italic;
	line-height:130%;
	padding: 10px;
}



/* !!!!!!!!!!!!  ARTICLE STUFF !!!!!!!!!!!!!!!! */

#sidenav {
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
div > #sidenav {
	font-size: 1.1428571em;
}
#sidenav li {
	margin: 0;
	padding: 0;
}
#sidenav li a {
	padding: .5em;
	margin: 0;
	color: #2156BA;
	display: block;
	border-bottom: 1px solid #333;
	text-decoration: none;
}
#sidenav li a:hover {
	color: #EEE;
	background-color: #2156BA;
}

.sidesel {
	background-color: #1661AD!important;
	color: #FFF!important;
}

#secintro {
	padding: .5em 1em 0;
	text-align: left;
}
#secintro h2 {
	font-size: 1.5em;
}
#secintro p {
	padding: .5em 0;
}
.secimg {
	margin-left: 1em;
	margin-bottom: 1em;
}

#artmain {
	padding: 0 1.25em;
}
#artmain h1 {
	margin: .3em 0;
	line-height: 125%;
	/* font-size: 1.5em; */
	font-size: 1.6rem;
	font-weight: bold;
}
#artmain h2, #artmain h3 {
	/* line-height: 1.4em; */
	font-size: 116.666666%;
	line-height: 160%;
	margin: .8em 0;	
}
#artmain h3 {
	/* font-style: italic; */
}

.author {
	font-size: .875em;
	font-weight: bold;
}
blockquote{
	padding: 1em 2em;
}
#artmain p {
	padding: .5em 0;
}
#artmain ul {
	list-style: disc outside none;
}
#artmain li {
	margin-left: 2em;
	margin-bottom: .5em;
}


.articleimg {
	text-align: center;
}
.articleimg img {
	border: 1px solid #333;
	padding: .5em;
	max-width: 100%;
	width: auto;
}

.pq {
	float: right;
	padding: .6em 1.2em 1.2em 1.2em;
	color: #990000;
	font-weight: bold;
	width: 24%;
	font-size: 1.125em;
}

.activetab {
	background-image: url("/images/tabon.gif");
	border-bottom: 1px solid white;
	margin-bottom: -1px;
	background-position: top;
}
.nonactive {
	background-image: url("/images/taboff.gif");
	margin-bottom: 0px;
	border-bottom: none;
	background-position: bottom;
}
.deadtab {
	background-color: #EEE;
}
.deadtab a {
	color: #777!important;
}

.framedbutton {
	color: white;
	padding: .3em 1em;
	background-color: #2156ba;
	border: 1px solid #0C3662;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 10.5em;
}
.framedin {
	padding: .4em;
}
#articlestab, #FAQtab{
	font-weight: bold;
	font-size: 1.125em;
	cursor: pointer;
	background-repeat: repeat-x;
	text-align: center;
	border-right: 1px solid #B0BEC7;
	border-left: 1px solid #B0BEC7;
	border-top:  1px solid #B0BEC7;
	padding: .4em 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 35%;
	float: left;
	margin-right: 1em;
}

#articlestab a, #FAQtab a {
	text-decoration: none;
	color: #0C3662;
}
#faqnav {
	margin-bottom: 2em;
	margin-left: 1.5em;
	font-weight: bold;
	list-style: none outside disc!important;
}
#faqnav li {
	padding-left: .1em;
	margin-bottom: 0!important;
}

#articlesDiv, #FAQDiv {
	clear: both;
	padding: 2em 1em 1em 1em;
	border: 1px solid #B0BEC7;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
}

#FAQDiv {
	display: none;
}
#FAQDiv h3 {
	padding-bottom: .5em;
}
#FAQDiv h3 a {
	color: #333;
	text-decoration: none;
	cursor: default;
	font-size: 1.25em;
}
/*#articlesDiv a, #FAQDiv a {
	color: #2156BA;
} */
#FAQDiv p, #articlesDiv p {
	padding-top: .2em;
	padding-bottom: 1.4em;
}
.ret {
	width: 100%;
	text-align: right;
}
#prevnext {
	clear: both;
	text-align: center;
	height: 2em;
	padding-top: 1em;
}
#prevnext a {
	white-space: nowrap;
}
#artbody {
	clear: left;
}

.twobord {
	border: 2px solid #145C9E;
	padding: 1em;
}

.artfaqtable {
	border-collapse: collapse;
	margin: 0px auto;
	background-color: #ccffcc;
}
.artfaqtable td, .artfaqtable th {
	padding: .5em .8em;
	border: 1px solid #333;
}
.artfaqtable th {
	font-weight: bold;
}
.tabcent td, .tabcent th {
	text-align: center;
}
/*.artfaqtable td:first-child, .tabcent td:first-child{
	text-align: left;
}*/
.mathtable {
	margin: 0px auto;
	border: 1px solid black;
}
.mathtable td {
	border: 0;
	padding: .5em;
}

.bigq, .biga {
	float: left;
	font-size: 2.2em;
	font-weight: bold;
	padding: .3em .5em .3em .2em;
}
.bigq {
	margin-bottom: .5em;
}

.gtgboldtag {color: #993300;}

.oneask {
	padding-bottom: 3em;
}
.askeys {
	font-size: .875em;
	font-style: italic;
}

#insdrop {
	width: 100%;
	padding: 0px;
	height: 1.5em;
	line-height: 1.4em;
}
.runtime {
	float: right;
	font-size: 0.875em;
	font-style: italic;
}
.onepod {
	padding: 1em;
	border-bottom: 1px solid #555;
}

.hidebox { 
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}


.taxdisclaim {
	font-style: italic;
	font-size: .8em;
	padding-top: 3em;
}


#glossnav, #secretnav {
	text-align: center;
	padding: .3em 0;
	font-weight: normal;
}
#glossnav ul, #secretnav ul {
	margin: 0px auto;
	list-style: none outside none;
}
#glossnav ul li, #secretnav ul li {
	text-align: center;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
}
#glossnav a, #secretnav a {
	font-weight: bold;
	line-height: 1em;
	text-decoration: none;
	width: 1.5em;
	display: block;
	padding: .4em 0;
	margin: 0;
	margin-top: .3em;
	margin-right: .3em;
	border: 1px solid #1144BB;
}
#glossnav a {
	font-size: 1.11em!important;
}
#glossnav li > a {
	width: 1.75em;
	font-size: 1.25em!important;
}
#secretnav a {
	font-size: .8em;
}

/* .topsec h2 {
	position: absolute;
	top: 1em;
	right: 3em;
} */
#glossnav a:hover, .glossact, #secretnav a:hover {
	background-color: #2156BA;
	color: white;
}
#glosslist li{
	padding: .1em 0;
}
.glosspromo {
	font-size: .8em;
	font-weight: bold;
	text-align: center;
}
.glosspromo p {
	text-align: left;
}

/* !!!!!!!!!!!!!!! search page styles !!!!!!!!!!!!!!!!!!! */

#searchmainwrap {
	width: 100%;
}
#searchmainwrap h2 {
	font-size: 1.4em;
}
#searchnav {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}
#searchnav li {
	float: left;
	padding: 0;
	margin: 0;
}
#searchnav li a { 
	display: block;
	padding: .6em .8em;
	border: 1px solid #999;
	border-bottom: none;
	background-color: white;
	text-decoration: none;
	background-color: #EEF;
}
#searchnav li:not(:last-child) a { 
	margin-right: .5em;
}
.searchtabact {
	border-bottom: 1px solid white!important;
	margin-bottom: -1px!important;
	background-color: white!important;
}
#searchresults {
	clear: both;
	border: 1px solid #999;
	background-color: white;
	padding-top: 1em;
}
.eachresult {
	padding: 1em 1em 1em .1em;
	border-bottom: 1px solid #AAA;
}
.eachresult .num { 
	font-size: 3em;
	float: left;
	padding: .5em;
	text-align: center;
	color: #333;
}
.eachresult .resultmain {
	text-align: left;
	margin-left: 5.25em;
}
.eachresult .resultmain a { 
	font-weight: bold;
	font-size: 1.125em;
	display: block;
	margin-bottom: .5em;
}


.ctype {
	float: left;
	background-color: #EEEEFF;
	padding: 1.5em 1em;
	margin-right: 1em;
}
.nextlink {
	float: right;
	padding: 1em;
}
.prevlink {
	float: left;
	padding: 1em;
}


/* *************************** quiz stylez ************************** */
#quizwrap {
	padding: 1em;
	text-align: left;
	width: 80%;
	margin: 0px auto;
}
#quizwrap h3 {
	margin-bottom: 1em;
}
#quizwrap p {
	padding-top: 1em;
}
.oneq {
	padding: 1em 0;
	border-top: 1px solid #CCC;
	clear: both;;
}
.qnum {
	font-size: 1.5em;
	color: #333;
	float: left;
	width: 4%;
}
.qq {
	float: right;
	width: 93%;
	margin-bottom: 1em;
}
.qq input {
	padding-right: .2em;
}
.qq label {
	display: block;
	padding: .5em 0 0 0;
}
.qchecked {
	font-weight: bold;
	padding-left: 1em;
	margin-left: -.3em!important;
	border: 1px dashed #999;
	padding: .3em!important;
	margin-top: .2em;
}
.dchecked {
    background: url('/images/icon_success.png') #CFC no-repeat 2px center;
	padding-left: 2.2em!important;
	margin-left: -2.2em!important;
	padding-bottom: .3em!important;
	border: 1px solid #009900;
	margin-top: .2em;
}
.bchecked {
    background: url('/images/icon_wrong2.gif') #FCC no-repeat 3px center;
	border: 1px solid #FF0000;
	padding-left: 2.2em!important;
	margin-left: -2.2em!important;
	padding-bottom: .3em!important;
	margin-top: .2em;
}
.seebutt {
	float: right;
	margin: 1em;
	background-color: #6699BB;
	color: white;
	font-size: 1.3em;
	padding: .5em 1em;
	font-weight: bold;
	border: 1px solid #555;
	cursor: pointer;
}
.learnmore {
	line-height: 1.8em;
	margin-top: .5em;
	padding: .5em 1em;
	border: 1px solid #DDD;
}
.deniedlist {
	margin-left: 3em;
}
.deniedlist li {
	margin-bottom: .5em;
}







@media screen and (max-width: 980px) {
	#global-nav {
		font-size: .9em!important;
	}
	#global-nav ul {
		width: 100%;
	}
}

@media screen and (max-width: 826px) {
	header {
		/* min-width: 826px; */
	}
	#kctop {
		font-size: 13px;
	}
	#searchbox {
		margin-left: .5em;
	}
}

@media screen and (max-width: 768px) {
	
	body {
		font-size: 14px;
	}
	#sidewrap {
		display: none;
	}
	header {
		/* width: 100%; */
		white-space: nowrap;
	}
	#headercontainer {
	    /* width: 100%; */
		/* min-width: 350px; */
	    margin: 0;
	    padding-top: .5em;
	    z-index: 900;
		border: 0 none;
		vertical-align: baseline;
		text-align: left;
		border-bottom: 1px solid #333;
		font-size: 1em;
		min-height: 3.2em;
		white-space: nowrap;
	}
	#headercontainer:after {
		display: block;
		content:'';
		clear: both;
	}
	.fidhead #headercontainer{
		border-bottom: none;
	}
	#logo {
	    margin: 0 auto;
		float: left;
		padding: 0;
		padding-left: .5em;
		height: 3em;
	}
	#logo a {
		display: block;
		height: 30px;
		margin-top: 4px;
	}
	#logo img {
		max-width: 100%;
		width: auto;
		height: auto;
	}
	#navlink, #searchlink {
		display: block;
		float: right;
	    z-index: 1000;
		padding: .5em 0;
		margin-right: 1em;
		line-height: 1em;
	}

	#navlink img, #searchlink img {
		border: none;
	}
	
	.navdown {
	}
	.mobhide {
		display: none!important;
	}
	#searchbox {
		display: none;
		margin: 0;
		padding: 1em 0;
		width: 100%;
		position: static;
		text-align: center;
		background-color: #0C3662;
	}
	#searchbox form {
		background-color: white;
		display: table;
		width: 70%;
		margin: 0px auto;
		text-align: left;
	}
	#searchbox input {
		width: 90%;
	}
	#gobut{
		width: 30px!important;
		margin-left: 0px;
		padding-left: 0px;
	}
	#navbox {
	    display: none;
		border-bottom: 1px solid #333!important;
	}
	.righticons {
		white-space: nowrap;
		min-width: 90px;
		float: right;
	}
	
	#rightbox {
	    /* margin: 0px auto; */
		clear: both;
		margin: 0;
	    padding: 0;
		width: 50%;
		float: right;
		text-align: center;
	}
	
	#kctop {
	    margin: 0 auto;
	    padding: 0;
		position: relative;
		width: 90%;
		padding-top: .5em;
		text-align: left;
	}
	#kctop li {
		float: none;
		display: block;
		margin: .5em 0 1em;
	}
	#kctop li a {
		display: block;
		color: white;
		background-color: #0C3662;
		font-size: 1.2em;
		padding: .5em 1em;
	}
	
	.tcact {
		border: none!important;
		background-color: inherit;
		padding: 0 0 0 .5em!important;
	}
	.tcact a{
		font-size: inherit;
		text-decoration: underline;
		font-weight: normal;
		background-color: #1661AD!important;
	}
	

	#global-nav {
		clear: none;
	    margin: 0;
	    padding: 0;
		width: 50%;
		float: left;
	}
	#global-nav ul {
		list-style: none outside none;
		background-color: #0C3662;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	}

	#global-nav ul li {
		display: block;
	    /* margin: 0 auto; */
		border: none;
		border-bottom: 1px solid #999;
	}
	#global-nav ul li:last-child {
		border: none;
	}
	#global-nav ul li a {
		text-align: left;
	    color: white;
	    font-size: 1.1em;
	    font-weight: normal;
	    padding: 0.2em 5%;
	    text-decoration: none;
	    display: block;
	}
	
	#secretnav {
		height: auto;
		display: block!important;
		border-bottom: 1px solid #999;
		margin-left: -1em;
		margin-right: -1em;
		padding-right: .8em;
		padding-left: .8em;
	}
	
	#wrapper {
		width: auto;
		padding-top: 0;
	}
	#mainwrap {
		margin: 0px;
		width: auto;
		float: none;
	}
	#tgsidewrap {
		width: 30%;
		float: left;
		margin-right: 1em;
	}
	
	#tgmainwrap {
		float: none;
		width: 100%;
	}
	#tgmainwrap #artbody {
		clear: none;
	}
	#welcome{
		margin-top: 2%;
	}
	#welcome, #featured, #newandup, #articleboxes, #promobox, .featask {
		margin-left: 0;
	}
	#newandup {
		padding-bottom: 10px;
	}
	
	#morelink {
		float: none;
	    display: block;
		width: auto;
		margin: 0px auto;
		margin-top: 8px;
		text-align: center;
		border: 1px solid black;
		text-decoration: none;
		color: #333;
		padding: 8px;
	    background: #EEE;
	}
	
	.less {
	}
	
	.artbox {
		width: 95%;
		clear: both;
		float: none;
	}
	
	.pq {
		float: none;
		padding: .6em 1.2em 1.2em 1.2em;
		color: #990000;
		font-weight: bold;
		width: 100%;
		font-size: 1.125em;
	}

	
	.featfaq, .featask {
		width: auto!important;
		clear: both;
		float: none;
	}
	#promobox {
	padding-top: 0;
	}
	#promobox h2 {
		padding-top: 2%;
	}
	#promobox img {
		margin-top: 1em;
		max-width: 150px;
		width: auto;
	}
	
	#secimg {
		display: none;
	}
	#articlestab, #FAQtab{
		width: 48%;
		margin-right: 0;
		margin-left: 0;
	}
	#FAQtab {
		float: right;
		margin-right: 0;
	}
	
	#FAQdiv, #articlesDiv {
		border-radius: 0;
		-moz-border-radius 0;
		-webkit-border-radius: 0;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	#faqnav {
		width: 100%;
		text-align: left;
		margin-left: none;
	}

	#searchmainwrap {
		padding-top: 1em;
	}
	
	#searchnav li a {
		font-size: .9em;
		padding: .6em .2em;
		margin-left: .1em;
	}
	
	#quizwrap {
		padding: 1em;
		text-align: left;
		width: 95%;
	}
	footer, #footercontainer {
		width: auto;
	}
	
}